// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$dark-orange: #a65c1c;
$green: #84c81d;
$dark-green: #2a9a1b;
$gray: #0E0000;
$light-gray: #F4F4F4;
