.meal-plans-title {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.meal-requirements {
  padding-top: 0.5rem;
  padding-bottom: 1.2rem;

  ul {
    position: relative;
  }

  li {
    border-style: solid;
    border-color: #e0dfdc;
    border-radius: 6px;
    padding: 12px;
    width: 200px;
    max-height: 120px;
  }

  .meal-icon {
    position: absolute;
    top: -.7em;
    transform: translateX(-15%);
    padding: .2rem .2rem .2rem;
    background-color: #f8f9fa;
  }

  .box-title-small {
    font-size: 12px;
    height: fit-content;
    margin-bottom: 2px;
  }

  .box-body-txt {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.requirements-list {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.view-details-link {
  a {
    text-decoration: none;
  }
}
