html, body {
  height: 100%;
  margin: 0;
}

.profile-hero {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: block;
  background-image: url("AI_Meal_Prep_Log_In.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.profile-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.25);
}

.profile-hero > .container {
  position: relative;
  z-index: 2;
}
