<div class="banner">
  <h1>Your Week, Planned by AI — Meals Made Easy</h1>
  <p>No more “what’s for dinner?” stress. Our AI whips up weekly meal plans tailored to your tastes and schedule, so you get delicious, balanced meals without the planning hassle. Spend less time deciding, more time eating well.</p>
</div>

<div class="home-page-content text-center py-5">
  <div class="row justify-content-center mb-4">
    <div class="col-md-4 col-lg-3">
      <h3>Get Started</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-outline-primary px-4" %>
      </div>
    <div class="col-auto d-flex align-tiems-center px-3"><em>or</em></div>
    <div class="col-auto">
      <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary px-4" %>
      </div>
    </div>
  </div>
</div>
