// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/chat_buttons";

main {
  padding-top: 80px;
}
@import "pages/meal_plans";

.app-background {
  min-height: 100vh;
  background-image: asset-url("AI_Meal_Prep_Log_In.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
